<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a href="#about-me" class="nav-link active" aria-current="page">About me</a></li>
            <li class="nav-item"><a href="#experience" class="nav-link">Experience</a></li>
            <li class="nav-item"><a href="#education" class="nav-link">Education</a></li>
            <li class="nav-item"><a href="#training" class="nav-link">Training</a></li>
            <li class="nav-item"><a href="#communication" class="nav-link">Communication</a></li>
            <li class="nav-item"><a href="#skills" class="nav-link">Skills</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Logout</button>
        </div>
    </header>
</div>
