<div class="container">
    <section class="about-me" id="about-me">
        <div class="shadow p-md-5 mb-4 rounded bg-light border">
            <div class="row">
                <div class="col-md-10">
                    <h2>About me</h2>
                </div>
                <div class="col-md-1 btn-edit">
                    <div class="btn-edit">
                        <button class="btn-right edit-icon btn btn-default" (click)="editAboutMe()"><i class="fa fa-pen"></i></button>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn-edit">
                        <button class="btn-right btn btn-default"><i class="fa fa-trash float-right mr-2" (click)="deleteAboutMe()"></i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="editing">
              <textarea class="form-control" rows="5" [(ngModel)]="aboutMeText"></textarea>
              <div>
                <button class="btn btn-primary btn-sm mr-1" (click)="saveAboutMe()">Save</button>
                <button class="btn btn-secondary btn-sm" (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
            <div *ngIf="!editing">
              <span id="about-me-text" class="inline-block text-left" style="line-height:1.9rem;max-height:7.6rem;">{{aboutMeText}}</span>
            </div>
        </div>
    </section>
</div>
