<div class="container">
    <div class="shadow p-md-5 mb-4 rounded bg-dark text-white">
        <div class="col-md-3 mb-4">
            <!-- la imagen de perfil la debería cargar el usuario y ser tomada desde el servicio "miPortfolio.profileImage"-->
            <img src="assets\img\perfil.png" class="img-circle" alt="perfil">
        </div>

        <div class="col-md-9 text-left">
            <h1>{{miPortfolio.name}}</h1>
            <h2>{{miPortfolio.position}}</h2>
            <h3>{{miPortfolio.company}}</h3>
        </div>
    </div>
</div>